.seccion {
    margin-top: 3rem / 2;
    margin-bottom: 3rem / 2;
}
.contenido-centrado {
    max-width: 60rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.espaciado-abajo{
    margin-bottom: 2rem;
}