.seccion {
    margin-top: 3rem / 2;
    margin-bottom: 3rem / 2;
}
.contenido-centrado {
    max-width: 60rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.espaciado-abajo{
    margin-bottom: 2rem;
}
.error{
    background-color: $error;
    color: $blanco;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}
.success{
    background-color: $correcto;
    color: $blanco;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    margin: 3rem 0;
}

