//Fuentes
$fuentePrincipal: 'Montserrat', sans-serif;

//Colores
$bgprincipal: rgb(221, 216, 216);
$bgsecundario: brown;
$lineas: rgb(143, 142, 142);
$negro: #000000;
$blanco: white;
$colorFondo: rgb(211, 211, 211);
$verde: #71B100;
$naranja: rgb(226, 147, 0);
$gris: rgb(219, 219, 219);
$etico: rgb(148, 0, 0);