//Fuentes
$fuentePrincipal: 'Montserrat', sans-serif;

//Colores
$bgprincipal: rgb(221, 216, 216);
$lineas: rgb(190, 190, 190);
$negro: #000000;
$blanco: white;
$verde: #71B100;
$naranja: rgb(226, 147, 0);
$gris: rgb(219, 219, 219);
$etico: rgb(148, 0, 0);
$error: rgb(219, 9, 9);
$correcto: rgb(0, 209, 0);